<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

  <!-- Bootstrap -->
  <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"/>

  <!-- Slick -->
  <link type="text/css" rel="stylesheet" href="/css/slick.css"/>
  <link type="text/css" rel="stylesheet" href="/css/slick-theme.css"/>

  <!-- nouislider -->
  <link type="text/css" rel="stylesheet" href="/css/nouislider.min.css"/>

  <!-- Font Awesome Icon -->
  <link rel="stylesheet" href="/css/font-awesome.min.css">

  <!-- Custom stylesheet -->
  <link type="text/css" rel="stylesheet" href="/css/style.css"/>
</head>
<body>
   
  <!-- TOP HEADER -->
  <%-include('partials/header') %>
  <!-- /TOP HEADER -->
    <!-- NAVIGATION BAR -->
	<%- include("partials/navbar") %>
  <!-- /NAVIGATION -->
  

  <!-- LOGO HEADER ONLY -->
  <!-- <div id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
         
        </div>
      </div>
    </div>
  </div> -->
  <!-- /LOGO HEADER ONLY -->

  <!-- MAIN CONTENT -->
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="title">About Us</h2>
          <a href="" class="logo">
            <img src="/img/about.png" style="width: 650px; height: auto; font-weight: bold;" alt="Logo">
          </a>
          <p style="max-width: 800px; margin: auto; font-weight: 800; font-size: medium;">
            Welcome to our store! We are dedicated to delivering high-quality tech products and accessories.
            Our mission is to simplify your online shopping experience while providing unbeatable value and support.
          </p>
          
        </div>
      </div>
    </div>
  </div>
  <!-- /MAIN CONTENT -->
 
 
<%- include('partials/footer') %>
  <!-- JS FILES -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/slick.min.js"></script>
  <script src="/js/nouislider.min.js"></script>
  <script src="/js/jquery.zoom.min.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
