<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Reset Password</title>
  <link rel="stylesheet" href="/css/log&sign.css" />
</head>
<body>
  <div class="container">
    <h2>Reset Password</h2>

    <% if (msg) { %>
      <div class="error-message"><%= msg %></div>
    <% } %>

    <form action="/reset-password" method="POST">
        <input type="hidden" name="email" value="<%= email %>" />

      
      <div class="input-group">
        <label for="otp">OTP</label>
        <input type="text" name="otp" id="otp" required />
      </div>

      <div class="input-group">
        <label for="password">New Password</label>
        <input type="password" name="password" id="password" required />
      </div>

      <div class="input-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" name="confirmPassword" id="confirmPassword" required />
      </div>

      <button type="submit" class="btn">Reset Password</button>
      <p><a href="/login">Back to Login</a></p>
    </form>
  </div>
</body>
</html>
